h1{
  margin: 0;
  color: rgb(255,255,255);
}

h2{
  font-size: 25px;
  border-bottom: 3px dotted rgb(236,122,122);
}

h2::before {
  content: "â—";
  color: rgb(239, 111, 139);
}

p{
  margin: 0;
  font-size: 20px;
}

.contents > p:nth-child(3)::first-letter{ 
  color: aqua;
  font-weight: bold;
}


body{
  margin: 0;
}

header{
  margin-bottom: 20px;
  background-color: rgb(244,70,79);
  text-align: center;
}

main{
  margin: 10px;
}

#parent{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.contents{
  border: 3px solid rgb(238,204,204);
  flex-basis: 25%;
  margin: 20px 0;
  padding: 10px 15px;
  text-align: center;


}

.contents img{
  margin: 10px 0;
  width: 70%;
}


@media screen and (max-width: 768px) {
  #parent{
      display: block;
  }
  h2{
    font-size: 30px;
  }
  p{
    font-size: 25px;
  }
}



footer{
  background-color: rgb(244,79,79);
  text-align: center;
}

a:link {
  color:rgb(255, 255, 255);
}
a:visited {
  color:rgb(193, 234, 251);
}

a:hover {
  color:rgb(245, 178, 168);
}


